---
title: About
heading: About Us
subtitle: About Covid19 Digital media repository and operations.
---

<section>
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
	    <h2>About This Repository - Coveto (Veto to Covid)</h2>
	    <p>The objective of this repo is to collect the posters, articles, videos available to use in the campaign against covid19. Most of these posters and materials are created by Govt. of Kerala and other social groups. We must do some hard work to spread the instructions given by Dept. of Health, Govt of Kerala. The main objective of this repo is to help and support the official initiative.</p>
	    <hr/>
	    <h2>കൊവെറ്റോ എന്ന ഈ റെപ്പോസിറ്ററിയെപ്പറ്റി </h2>
	    <p>കോവിഡ് 19 സാമൂഹികമായി പടരാതെനോക്കലാണ് പ്രധാനപ്പെട്ട വെല്ലുവിളി. ഈ സന്ദർഭത്തിൽ ആരോഗ്യവകുപ്പിന്റെ നേതൃത്തത്തിലുള്ള പ്രവർത്തനങ്ങൾക്ക് ജനകീയ പിൻതുണ ആവശ്യമാണ്. ഇതിന് ശാസ്ത്രീയമായ വിവരങ്ങൾ പരമാവധി പ്രാദേശിക ശൃംഘലകളിലേക്ക് എത്തിക്കേണ്ടത് അനിവാര്യമാണ്. ഈ പ്രവർത്തനം എളുപ്പവും കാര്യക്ഷമവുമാക്കുന്നതിന് സഹായിക്കുക എന്നതാണ് ഈ റെപ്പോസിറ്ററിയുടെ ലക്ഷ്യം. ഇതിനായി ഉപയോഗിക്കാവുന്ന വിവിധ തരത്തിലുള്ള ചിത്രങ്ങൾ, ലേഖനങ്ങൾ, വീഡിയോകൾ എന്നിവയുടെ ഒരു ശേഖരം നിർമ്മിക്കുക എന്നതാണ് ഈ റെപ്പോസിറ്ററിയുടെ ലക്ഷ്യം.<p>
	</div>
</section>
