---
title: Articles
heading: Articles
subtitle: Articles related to COVID19 in infoclinic.in
layout: page
articles:
  - title: "കൊറോണ വൈറസുകൾ വായുവിലൂടെ (Air borne) പടരുമോ?"
    article_path: https://infoclinic.in/posts/will-corona-virus-spread-through-air
    head: "ആഗോളമഹാമാരികൾ"
    bgcolor: "#542C18"
  - title: "“12 മണിക്കൂർ കൊണ്ട് ചാകുന്ന വൈറസ്” വാദം സത്യമോ?"
    article_path: https://infoclinic.in/posts/virus-that-get-killed-in-12-hours-is-it-true
    head: "കോവിഡ്19"
    bgcolor: "#8C0000"
  - title: "കോവിഡ് 19 – രോഗ വ്യാപനം തടയാൻ ആരോഗ്യ മേഖലയിൽ സ്വീകരിക്കാവുന്ന കരുതൽ നടപടികൾ"
    article_path: https://infoclinic.in/posts/covid-19-actions-to-be-taken-within-healthcare-services
    head: "കൊറോണ"
    bgcolor: "#18451D"
  - title: "ഇനിയും നേരം വെളുക്കാത്തവർക്കു വേണ്ടി മാത്രം,"
    article_path: https://infoclinic.in/posts/for-those-who-are-still-unperturbed
    head: "കൊറോണ"
    bgcolor: "#542C18"
  - title: "കോവിഡ് 19 രോഗവ്യാപനച്ചങ്ങല പൊട്ടിക്കാൻ നാം ചെയ്യേണ്ടതെന്ത്?"
    article_path: https://infoclinic.in/posts/covid-19-how-can-we-break-the-chain
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "കോവിഡ് 19 – എന്തു കൊണ്ട് അതിജാഗ്രത തുടരണം?"
    article_path: https://infoclinic.in/posts/covid-19-why-we-should-continue-to-be-vigilant
    head: "കോവിഡ്-19"
    bgcolor: "#175259"
  - title: "കോവിഡ് 19: ഗർഭിണികളിൽ"
    article_path: https://infoclinic.in/posts/covid-19-in-pregnancy
    head: "കൊറോണ"
    bgcolor: "#39112F"
  - title: "കോവിഡ് 19 മാർഗ്ഗനിർദ്ദേശ രേഖ"
    article_path: https://infoclinic.in/posts/covid-19-guidelines
    head: "വിദ്യാഭ്യാസം"
    bgcolor: "#DB7F0B"
  - title: "കോറോണയോടൊപ്പം പടരുന്ന ഒറ്റപ്പെടുത്തലുകൾ"
    article_path: https://infoclinic.in/posts/corona-and-stigma
    head: "കോവിഡ്-19"
    bgcolor: "#8C0000"
  - title: "സമ്പർക്കവിലക്കിൽ മനസ്സിനെക്കാക്കാം"
    article_path: https://infoclinic.in/posts/isolation-and-mental-health
    head: "കോവിഡ്-19"
    bgcolor: "#542C18"
  - title: "കൊറോണക്കാലത്തെ ഐസൊലേഷനും ക്വാറന്റൈനും"
    article_path: https://infoclinic.in/posts/covid-19-isolation-quarantine
    head: "കോവിഡ്-19"
    bgcolor: "#B01515"
  - title: "കോവിഡ് 19 പടർന്നാൽ??"
    article_path: https://infoclinic.in/posts/covid-19-local-transmission
    head: "കോവിഡ്-19"
    bgcolor: "#18451D"
  - title: "കോവിഡ് 19 – രോഗനിർണയത്തിന് അനുവർത്തിക്കേണ്ട കാര്യങ്ങൾ"
    article_path: https://infoclinic.in/posts/covid-19-instructions-to-follow
    head: "കോവിഡ്-19"
    bgcolor: "#2D395D"
  - title: "കൊറോണാക്കാലത്തെ മൊബൈൽ ഫോൺ"
    article_path: https://infoclinic.in/posts/corona-virus-and-mobile-phone
    head: "മൊബൈൽ"
    bgcolor: "#542C18"
  - title: "കോവിഡ്-19 ശരീരത്തിന് പുറത്ത്‌ അതിജീവിക്കുമോ?"
    article_path: https://infoclinic.in/posts/how-long-can-covid-19-survive-outside-body
    head: "കോവിഡ്-19"
    bgcolor: "#F22E2E"
  - title: "മനുഷ്യത്വം മറക്കരുത്"
    article_path: https://infoclinic.in/posts/corona-and-humanity
    head: "കോവിഡ്-19"
    bgcolor: "#542C18"
  - title: "കോവിഡ് 19 – ഇന്ന് ഇന്നലെ നാളെ"
    article_path: https://infoclinic.in/posts/covid-19-13-march-2020
    head: "കോവിഡ്-19"
    bgcolor: "#CA7812"
  - title: "കോവിഡ്-19 എന്ന പാൻഡെമിക് എങ്ങനെ പിടിച്ചുകെട്ടാം?"
    article_path: https://infoclinic.in/posts/covid-19-pandemic-update
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "കോവിഡ് – 19 പാൻഡെമിക് ആകുമ്പോൾ"
    article_path: https://infoclinic.in/posts/covid-19-pandemic
    head: "കോവിഡ് – 19"
    bgcolor: "#175259"
  - title: "കോറോണയും അപകടസാധ്യതയും"
    article_path: https://infoclinic.in/posts/corona-and-risks-involved
    head: "കോവിഡ് – 19"
    bgcolor: "#18451D"
  - title: "കൈ കഴുകലിന്റെ പ്രാധാന്യം"
    article_path: https://infoclinic.in/posts/importance-of-hand-washing
    head: "കോവിഡ് – 19"
    bgcolor: "#8C0000"
  - title: "മാസ്ക് എങ്ങനെ ഉപയോഗിക്കണം?"
    article_path: https://infoclinic.in/posts/how-to-use-a-mask
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "കോവിഡ് 19 – കരുതൽ ശക്തമാക്കാം"
    article_path: https://infoclinic.in/posts/covid-19-and-being-vigilant
    head: "വൈറസ്"
    bgcolor: "#18451D"
  - title: "കോറോണക്കാലത്തെ ആൾക്കൂട്ടങ്ങൾ?!"
    article_path: https://infoclinic.in/posts/corona-and-crowd
    head: "കോവിഡ്-19"
    bgcolor: "#FF9A1B"
  - title: "കൊറോണ – വ്യാജസന്ദേശങ്ങൾ"
    article_path: https://infoclinic.in/posts/corona-and-fake-news
    head: "കോവിഡ്-19"
    bgcolor: "#2D395D"
  - title: "കൊറോണ വൈറസ്: ഭയക്കേണ്ടതുണ്ടോ?"
    article_path: https://infoclinic.in/posts/corono-virus-2019
    head: "കോവിഡ്-19"
    bgcolor: "#18451D" 
  - title: "ചില ക്വാറന്റൈൻ ചിന്തകൾ"
    article_path: https://infoclinic.in/posts/quarantine
    head: "കോവിഡ്-19"
    bgcolor: "#18451D"    
---
<section>
    <div class="container">
        <h1>Articles in infoclinic.in</h1>
        <p>Articles related to COVID19 in <a href="http://infoclinic.in">infoclinic.in</a> Portal | <a href="{{ site.baseurl }}/articles">Articles in luca.co.in</a></p> 
        <div class="card_box">
        {% for article in page.articles %}
            <div class="card" style="background-color:{{ article.bgcolor }};">
                <div class="cardTitle">- {{ article.head}}</div>
                <div class="cardText">
                    <a href="{{ article.article_path}} " target="_blank">{{article.title}}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
