---
title: Articles
heading: Articles
subtitle: Articles related to COVID19 from luca.co.in
layout: page
articles:
  - title: "അയൽപക്കത്തൊരാൾക്ക് കോറോണ രോഗം ബാധിച്ചാൽ നാം എന്തു ചെയ്യണം? "
    article_path: https://luca.co.in/neighbour-neighbour-helping-each-other-time-crisis/
    head: "കോവിഡ്19"
    bgcolor: "#542C18"
  - title: "ജനങ്ങളോട് കഴിവതും പൊതുവിടങ്ങൾ ഒഴിവാക്കണമെന്ന് പറയുന്നതെന്ത്കൊണ്ട് ? "
    article_path: https://luca.co.in/covid-19-the-importance-of-social-distancing/
    head: "കോവിഡ്19"
    bgcolor: "#8C0000"
  - title: "ആഗോളമഹാമാരികള്‍: രോഗനിയന്ത്രണത്തിന്റെ ശാസ്ത്രവും ചരിത്രവും."
    article_path: https://luca.co.in/pandemics-science-and-history/
    head: "ആഗോളമഹാമാരികൾ"
    bgcolor: "#542C18"
  - title: "കോവിഡ്19- പകർച്ചേതര രോഗികളുടെ പ്രത്യേക ശ്രദ്ധക്ക്; "
    article_path: https://luca.co.in/covid-19-and-ncd-patients/
    head: "കോവിഡ്19"
    bgcolor: "#8C0000"
  - title: "കൊറോണ – കേരളത്തില്‍ ഇപ്പോള്‍ ചെയ്യേണ്ടത്; "
    article_path: https://luca.co.in/corona-what-we-can-do/
    head: "കൊറോണ"
    bgcolor: "#18451D"
  - title: "കൊറോണയെ വാക്സിൻ കൊണ്ട് വരുതിയിലാക്കാനാകുമോ?;"
    article_path: https://luca.co.in/corona-vaccine/
    head: "കൊറോണ"
    bgcolor: "#542C18"
  - title: "കോവിഡ്-19: രോഗനിർണയരീതികളും നിലവിലെ സാഹചര്യവും;"
    article_path: https://luca.co.in/covid-19-diagnostic-tests/
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "കൊറോണാക്കാലത്തെ മാനസികാരോഗ്യം"
    article_path: https://luca.co.in/covid19-mental-health/
    head: "കോവിഡ്-19"
    bgcolor: "#175259"
  - title: "മൂന്നാം വാരത്തിലെ കൊറോണ"
    article_path: https://luca.co.in/covid-19-3rd-week/
    head: "കൊറോണ"
    bgcolor: "#39112F"
  - title: "വിദ്യാഭ്യാസം: കൊറോണ നല്‍കുന്ന പാഠങ്ങള്‍"
    article_path: https://luca.co.in/covid-19-and-school-education/
    head: "വിദ്യാഭ്യാസം"
    bgcolor: "#DB7F0B"
  - title: "കോവിഡ് 19: ഐസോലേഷനില്‍ കഴിയുന്നവര്‍ ഇക്കാര്യങ്ങള്‍ ശ്രദ്ധിക്കുക"
    article_path: https://luca.co.in/instruction-for-home-isolation/
    head: "കോവിഡ്-19"
    bgcolor: "#8C0000"
  - title: "കോവിഡ് 19 : ഈ ദിവസങ്ങളാണ് നിര്‍ണായകം"
    article_path: https://luca.co.in/preventing-covid-19-spread-in-communities/
    head: "കോവിഡ്-19"
    bgcolor: "#542C18"
  - title: "കോവിഡ്-19: തത്സമയ സ്ഥിതിവിവരക്കണക്ക്"
    article_path: https://luca.co.in/covid-19-live-updates/
    head: "കോവിഡ്-19"
    bgcolor: "#B01515"
  - title: "കോവിഡ് 19 – ഓമനമൃഗങ്ങളെ കുറിച്ചോർത്ത് ആശങ്ക വേണ്ട"
    article_path: https://luca.co.in/covid-19-pets/
    head: "കോവിഡ്-19"
    bgcolor: "#18451D"
  - title: "കോവിഡ്-19: ഏറ്റവും പുതിയ പഠനങ്ങൾ പറയുന്നതെന്ത് ?"
    article_path: https://luca.co.in/covid19-latest-studies/
    head: "കോവിഡ്-19"
    bgcolor: "#2D395D"
  - title: "വൈറസുകളെ നശിപ്പിക്കാൻ സോപ്പിനെങ്ങനെ കഴിയുന്നു?"
    article_path: https://luca.co.in/why-does-soap-work-so-well-on-the-most-viruses/
    head: "സോപ്പ്"
    bgcolor: "#542C18"
  - title: "COVID 19 – അറിയേണ്ടെതെല്ലാം"
    article_path: https://luca.co.in/covid-19-faq/
    head: "കോവിഡ്-19"
    bgcolor: "#F22E2E"
  - title: "കോവിഡ് 19 – കൈ കഴുകലിന്റെ പ്രാധാന്യം"
    article_path: https://luca.co.in/covid-19-handwash/
    head: "കോവിഡ്-19"
    bgcolor: "#542C18"
  - title: "കോവിഡ് 19 – വ്യാപനം മൂന്നാം ഘട്ടത്തിലേക്ക്: ജാഗ്രത പോര അതിജാഗ്രത വേണം"
    article_path: https://luca.co.in/covid-19-control-and-prevention-next-step/
    head: "കോവിഡ്-19"
    bgcolor: "#CA7812"
  - title: "കൊറോണ: കൂടുതൽ ആളുകൾ ഒത്തുകൂടുന്ന പരിപാടികൾ ഒഴിവാക്കുക"
    article_path: https://luca.co.in/kssp-press-release/
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "കൊറോണ വൈറസ്‌ – WHO വീഡിയോയുടെ മലയാള പരിഭാഷ"
    article_path: https://luca.co.in/corona-who-video/
    head: "വീഡിയോ"
    bgcolor: "#175259"
  - title: "കൊറോണ- വ്യാജസന്ദേശങ്ങള്‍ തിരിച്ചറിയാം, ജാഗ്രതപാലിക്കാം"
    article_path: https://luca.co.in/corona-fake-health-advice-should-ignore/
    head: "സന്ദേശങ്ങൾ"
    bgcolor: "#18451D"
  - title: "എന്തുകൊണ്ട് ഇത്തവണ ആറ്റുകാൽ പൊങ്കാല ഒഴിവാക്കണം?"
    article_path: https://luca.co.in/corona-prevention-dr-ak-jayasree/
    head: "ഉത്സവം"
    bgcolor: "#8C0000"
  - title: "കോവിഡ്-19 – കൊറോണ വൈറസ് ബാധയുടെ ഔദ്യോഗികനാമം "
    article_path: https://luca.co.in/covid-19-corona-official-name/
    head: "കോവിഡ്-19"
    bgcolor: "#39112F"
  - title: "വൈറസും വവ്വാലും തമ്മിലെന്ത് ?"
    article_path: https://luca.co.in/why-do-so-many-deadly-viral-outbreaks-originate-in-bats/
    head: "വൈറസ്"
    bgcolor: "#18451D"
  - title: "എത്ര പേടിക്കണം ഈ പുതിയ കൊറോണയെ?"
    article_path: https://luca.co.in/2019-ncov-how-much-to-fear/
    head: "കോവിഡ്-19"
    bgcolor: "#FF9A1B"
  - title: "കൊറോണ വൈറസ് – അറിയേണ്ട കാര്യങ്ങൾ"
    article_path: https://luca.co.in/corona-dr-ts-aneesh/
    head: "കോവിഡ്-19"
    bgcolor: "#2D395D"
  - title: "കൊറോണ വൈറസ് – ആശങ്കയല്ല വേണ്ടത് ജാഗ്രത"
    article_path: https://luca.co.in/corona-virus-update/
    head: "കോവിഡ്-19"
    bgcolor: "#18451D"    
---
<section>
    <div class="container">
        <h1>Articles in luca.co.in</h1>
        <p>Articles related to COVID19 in <a href="http://luca.co.in">luca.co.in</a> Portal | <a href="{{ site.baseurl }}/articlesinfo">Articles in infoclinic.in</a></p>
        <div class="card_box">
        {% for article in page.articles %}
            <div class="card" style="background-color:{{ article.bgcolor }};">
                <div class="cardTitle">- {{ article.head}}</div>
                <div class="cardText">
                    <a href="{{ article.article_path}} " target="_blank">{{article.title}}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
