---
title: Printing Materials
heading: Printing Materials
subtitle: Printing Materials, leaflets etc.
---

<section>
	<div class="container">
	    <h2>Download PDFs for printing.</h2>
	    <p>Some pdfs are listed here to print.</p>
        <ul>
        <li>Covid leaflet Black and white for print. <a class="bluebutton"  href="{{ site.baseurl }}/pdf/COVID_Leaflet_KSSP_FOR_PRINT.pdf" download="COVID_Leaflet_KSSP_FOR_PRINT.pdf">&rarr; Download</a></li>
        <li>Covid19 leaflet color for distribution. <a class="bluebutton"  href="{{ site.baseurl }}/pdf/COVID_KSSP_LEAFLET.pdf" download="COVID_KSSP_LEAFLET.pdf">&rarr; Download</a></li>
        <li>Covid19 Mobile leaflet  <a class="bluebutton"  href="{{ site.baseurl }}/pdf/COVID_MOBILE_INFO_LUCA.pdf" download="COVID_MOBILE_INFO_LUCA.pdf">&rarr; Download</a></li>
	</div>
</section>
