@font-face{font-family:'Manjari';font-style:normal;font-weight:400;src:url("../fonts/Manjari-Regular.woff2") format("woff2"),url("../fonts/Manjari-Regular.woff") format("woff"),url("../fonts/Manjari-Regular.ttf") format("truetype");}@font-face{font-family:'Manjari';font-style:bold;font-weight:700;src:url("../fonts/Manjari-Bold.woff2") format("woff2"),url("../fonts/Manjari-Bold.woff") format("woff"),url("../fonts/Manjari-Bold.ttf") format("truetype");}body,h1,h2,h3,h4,h5,p,a,li,span{font-family:"Manjari",'Droid Sans', Arial, Verdana, sans-serif !important;}
.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1200px;
}

.container {
	max-width: 1200px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.4em;
        padding: 18px 7px;
        margin:5px 3px;
        font-weight:bold;
        a {
            display:inline-block;
            height:20px;
        }
        img {
            width:100px !important;
            max-width:110px;
	    }
        
     }
}
.homeNotice {
    background:#971212;
    padding:30px 0px !important;
    p{
    text-align:center;
    font-weight:bold;
    font-size: 1.8em;
    color: #fff;
    }
}
.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 100px 0;
	background: #fff;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #ffffff;
		background: $brand-color;
        background: #274fec linear-gradient(45deg,rgba(0,0,0,0),#4d90d7); 
		text-align: center;
		margin-top: -100px;
		padding-top: 250px;

		h2, p {
			max-width: 98%;
		}

		h2 {
			font-size: 3rem;
            font-weight:bold;
		}

		p {
			font-size: 1.3rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
            text-decoration:underline;
		}
        a:hover {
            font-style:normal;
        }
	}

	&.alternate {
		background: #eee;
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none !important;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}
.bluebutton {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: blue;
	text-decoration: none !important;

	&:hover {
		background: rgba(51, 51, 64, 0.78);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(51, 51, 64, 0.78);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}
.card_box {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;
    .card {
		padding: 21px 17px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		text-align: left;
		border: 1px solid #333;
        border-radius:7px;
		line-height: 0;
        min-height:300px;
        background-image:url("../images/covetoicon.png");
        background-repeat: no-repeat;
        background-position:bottom right;
		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}
        .cardTitle {
            font-size: 1.4em;
            line-height: 25px;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 10px;
            color:#fff;
        }
        .cardText    {
            width: 100%;
            float: left;
            font-size: 1.6em;
            line-height: 1.3;
            color: #fff;
            padding: 35px 10px;
            box-sizing: border-box;
            font-family: 'Manjari','Montserrat',Arial,Sans-serif;
            font-weight: bold;
            text-align: center;
            a {
                color:#fff;
                }
        }
    }
      
}
.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}
